<div id="sobreMi"></div>
<section class="acer" >
  <div class="container a.s">
    <div class="sobre-mi">
      <h3 *ngIf="sMi" class="titulo">{{sMi.sobreMi.titulo}}</h3>
      <p *ngIf="sMi" class="text-center">{{sMi.sobreMi.descripcion}} </p>
    </div>
    <div class="row">
      <div class="conoceme col-md">
        <h3 *ngIf="sMi">{{sMi.sobreMi.conoceme}}</h3>
        <p *ngIf="sMi">{{sMi.sobreMi.sobre1}}</p>
        <p *ngIf="sMi">{{sMi.sobreMi.sobre2}}</p>
        
      </div>
      <div *ngIf="sMi" class="cv col-md">
        <a download="FlorenciaFuentes" href="../../../assets/pdf/Curriculum_Vitae.pdf">{{sMi.sobreMi.descargarCv}}</a>
      </div>
    </div>
  </div>
</section>