<div id="habilidadestecnicas"></div>
<section>
    <div class="container">
        <h4 *ngIf="skill">{{skill.habilidades.misHabi}}</h4>
        <div class="container_skills row">
            <div class="skills">HTML</div>
            <div class="skills">CSS</div>
            <div class="skills">JAVASCRIPT</div>
            <div class="skills">BOOTSTRAP</div>
            <div class="skills">TYPESCRIPT</div>
            <div class="skills">ANGULAR</div>
            <div class="skills">MYSQL</div>
            <div class="skills">PYTHON</div>
            <div class="skills">JAVA</div>
            <div class="skills">SPRING BOOT</div>
            <div class="skills">GIT</div>
            <div class="skills">GITHUB</div>
            <div class="skills">REACT JS</div>
        </div>
    </div>
</section>